@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Montserrat", sans-serif;
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50%) scale(0.5);
    }
    50% {
      opacity: 1;
      transform: translateY(0) scale(1.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  .pulse div {
    opacity: 0;
    animation: slideIn 1.5s ease-in-out forwards;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .pulse div:nth-child(1) {
    animation-delay: 0s;
  }
  
  .pulse div:nth-child(2) {
    animation-delay: 5s; 
  }
  
  .pulse div:nth-child(3) {
    animation-delay: 10s; 
  }
  
  .pulse {
    position: relative;
    height: 100px; 
  }
  


  h1 {
    @apply text-2xl sm:text-4xl lg:text-5xl font-extrabold lg:leading-[60px];
  }
  
  h2 {
    @apply text-2xl lg:text-4xl font-bold;
  }
  
  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-medium ;
  }
  
  h4 {
    @apply text-base md:text-lg lg:text-xl font-medium;
  }
  
  p {
    @apply text-base lg:text-lg text-[#636262];
  }

  @layer components {
    .container {
      margin: auto;
      max-width: 1440px;
    }
  
    @media screen and (max-width: 640px) {
      .container {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  
    @media screen and (max-width: 1020px) {
      .container {
        max-width: 1000px;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  
    @media screen and (min-width: 1020px) {
      .container {
        padding-left: 5rem;
        padding-right: 5rem;
      }
    }
  }